    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #1e293b;
        color: white;
        padding: 15px;
        text-align: center;
        z-index: 1000;
    }


    .info-bar {
        position: sticky;
        top: 70px;
        background: #e2e8f0;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }


    .gallery-container {
        margin-top: 130px;
        margin-bottom: 80px;
        padding: 20px;
        display: flex;
        gap: 20px;
        overflow-y: auto;
    }

    .product-card {
        background: white;
        width: 300px;
        padding: 15px;
        border: 2px solid #cbd5e1;
        margin: 10px;

        border-radius: 8px;
        position: relative;

    }


    .image-box {
        position: relative;
    }

    .image-box img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 6px;
    }

    */ .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .image-box:hover .overlay {
        opacity: 1;
    }


    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #1e293b;
        color: white;
        text-align: center;
        padding: 10px;
    }